@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

body {
    background-image: url(/img/background.jpg);
    background-color: #cccccc;
    max-width: 1920px;
}

.header {
    font-family: 'Rubik Bubbles', cursive;
    color: #CC66FF;
    font-size: 60px;
    text-align: center;
    height: 35px;
}

.playground {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.timer-level {
    display: flex;
    justify-content: center;
}

.timer {
    display: flex;
    align-items: center;
    margin-right: 30px;
    background-color: #CC66FF;
    border-radius: 10px;
    width: 220px;
}

.timer-icon {
    max-width: 50px;
    padding: 10px 5px 10px 5px;
}

.minute,
.second,
.millisecond {
    font-weight: 500;
    font-family: 'Seymour One', sans-serif;
    padding-right: 10px;
}

.level {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 10px;
    font-family: 'Seymour One', sans-serif;
    background-color: #CC66FF;
    border-radius: 10px;
    width: 270px;
}

/* .animals {
    max-width: 100px;
    cursor: pointer;
}

img {
    border-radius: 10px;
}

.icons {
    display: grid;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    background-color: orange;
    grid-template: repeat(4, 100px) / repeat(5, 100px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 10px;
    grid-gap: 5px;
    padding: 10px;
    position: relative;
}

:hover {
    transform: rotateY(180deg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.start {
    border-style: solid;
    border-radius: 10px;
    border-color: #CC66FF;
    background-color: #CC66FF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 200px;
}

.start:hover {
    background-color: #BE3BFF;
    border-color: #BE3BFF;
    cursor: pointer;
}

.start-btn {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 30px;
}

.start-btn:hover {
    cursor: pointer;
}

.timer-icon:hover {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(720deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.container {
    width: 525px;
    height: 400px;
    background-color: orange;
    display: grid;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    grid-template: repeat(4, 100px) / repeat(5, 100px);
    align-items: center;
    justify-items: center;
    margin: 10px;
    grid-gap: 5px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-image: url(/img/card-back.png);
}

.back {
    /* background-image: url(/img/1.png); */
    transform: rotateY(180deg);
    width: 100px;
    height: 100px;
}